<div>

  <div ng-show="formType == 'new'">
    <form>
      <input placeholder="Song title" data-ng-model="song.title" />
      <input placeholder="Artist name" data-ng-model="song.artist" />
      <input placeholder="Audio URL" data-ng-model="song.audio_url" />
      <input placeholder="Album art URL" data-ng-model="song.album_art" />
      <input placeholder="Genre" data-ng-model="song.genre" />
      <button type="button" data-ng-click="create()">Create</button>
    </form>
  </div>

  <form ng-show="formType == 'edit'">
    <input value="song.title" data-ng-model="song.title" />
    <input value="song.artist" data-ng-model="song.artist" />
    <input value="song.audio_url" data-ng-model="song.audio_url" />
    <input value="song.album_art" data-ng-model="song.album_art" />
    <input value="song.genre" data-ng-model="song.genre" />
    <button data-ng-click="update()">Submit Edits</button>
    <button data-ng-click="destroy()">Delete</button>
  </form>

</div>
