<h2>Edit Song</h2>

<form>
  <input value="SongEditViewModel.song.title" data-ng-model="SongEditViewModel.song.title" />
  <input value="SongEditViewModel.song.artist" data-ng-model="SongEditViewModel.song.artist" />
  <input value="SongEditViewModel.song.audio_url" data-ng-model="SongEditViewModel.song.audio_url" />
  <input value="SongEditViewModel.song.album_art" data-ng-model="SongEditViewModel.song.album_art" />
  <input value="SongEditViewModel.song.genre" data-ng-model="SongEditViewModel.song.genre" />
  <button data-ng-click="SongEditViewModel.update()">Submit Edits</button>
  <button data-ng-click="SongEditViewModel.destroy()">Delete Song</button>
</form>
