<h2>New Song</h2>

<form>
  <input placeholder="Song title" data-ng-model="SongNewViewModel.song.title" />
  <input placeholder="Artist name" data-ng-model="SongNewViewModel.song.artist" />
  <input placeholder="Audio URL" data-ng-model="SongNewViewModel.song.audio_url" />
  <input placeholder="Album art URL" data-ng-model="SongNewViewModel.song.album_art" />
  <input placeholder="Genre" data-ng-model="SongNewViewModel.song.genre" />
  <button type="button" data-ng-click="SongNewViewModel.create()">Create</button>
</form>
